

@{  
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<h2>Clientes</h2>

<div id="TablaCliente" style="width: auto; margin:auto;"></div>

<script type="text/javascript">

    $(document).ready(function () {

        //Prepare jtable plugin
        $('#TablaCliente').jtable({
            title: 'Listado de cliente',
            //paging: true,
            actions: {
                listAction: '/Cliente/CreatePerson',
                createAction: '/Cliente/Create',
                updateAction: '/Cliente/Update',
                deleteAction: '/Cliente/Delete'
            },
            fields: {
                ClienteID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Nombre: {
                    title: 'Nombre',
                    width: '15%',
                    list: true
                },
                Apellido: {
                    title: 'Apellido',
                    width: '15%'
                },
                Telefono: {
                    title: 'Telefono',
                    width: '15%'
                },
                Correo: {
                    title: 'Correo',
                    width: '15%'
                },
                Direccion: {
                    title: 'Direccion',
                    width: '15%'
                }
            }
        });

        //Load person list from server
        $('#TablaCliente').jtable('load');
    });

</script>
<div>
    @Html.ActionLink("Ver Prestamos", "Index","Prestamo")
</div>


